<div id="titulo2">
  <%= image_tag 'enviadacomsucesso.png'%>
</div>


<div class="button-twitter" style="padding-left:40px">
  <a href="https://twitter.com/SiriBrazil" class="twitter-follow-button" data-show-count="false" data-lang="pt" data-size="large">Siga @SiriBrazil</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<div style="clear:both"></div>
<div  class="button-twitter">
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://kingo.to/Xey" data-text="Estou concorrendo a 1 mês grátis do servidor @SiriBrazil" data-lang="pt" data-size="large" data-count="none" data-hashtags="siriproxy">Tweetar</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<div style="clear:both"></div>